* {
  margin: 0;
  padding: 0;
}

ul {
  text-align: center;
  padding: 25px;
}

li {
  display: inline;
  margin-left: 50px;
}

li:first-child {
  margin-left: 0;
}

li a {
  text-decoration: none;
  text-transform: uppercase;
  color: red;
  font-weight: bold;
  font-size: 20px;
}

body {
  width: 1280px;
  font-family: Montserrat, sans-serif;
}

.page-title {
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.title-content {
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 28px;
  letter-spacing: 2.4px;
}

.lust {
  margin-bottom: 66px;
}

.text-content {
  padding: 48px 67px 0;
  text-align: center;
}

.btn {
  padding: 18px 43px;
  background: #ff0000;
  border-radius: 6px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 82px;
  border: none;
}

footer {
  padding-bottom: 29px;
  padding-right: 105px;
  text-align: right;
}

.copyright-text {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 2.4px;
}
